//all scenes
.root{
   -fx-background-color: radial-gradient(radius 55%, darkseagreen, black);
}
.button{
  -fx-background-color: linear-gradient(darkolivegreen, darkseagreen);
  -fx-background-radius: 35;
  -fx-font-family: "Bookman Old Style", Arial;
  -fx-font-size: 12;
  -fx-font-weight: bold;
 }
 .button:hover{
  -fx-background-color: ivory;
 }
.label{
 -fx-font-family: "Bookman Old Style", Arial;
 -fx-font-weight: bold;
}
#menuButton,#exitButton{
  -fx-font-size: 11;
}
//s01
#titleBackground{
-fx-background-image: url("images/title.jpg");
-fx-background-attachment: fixed;
-fx-background-size: cover;
-fx-background-position: center;
}
#titleLabel{
 -fx-font-family: "Broadway";
 -fx-effect: dropshadow(gaussian, grey, 10, 0.1, 4, 4);
}
#titleButton{
  -fx-font-size: 16;
}
//s02
#menuButton1,#menuButton2,#menuButton3{
  -fx-font-size: 16;
}
//s03
#shoppingListBackground{
   -fx-background-color: radial-gradient(radius 70%, darkseagreen, black);
}
//s03a,s04a,s05a
#savedListBackground, #savedTaskListBackground, #dishBackground{
  -fx-border-color: darkolivegreen;
  -fx-border-style: ridge;
}
//s04
#date{
  -fx-effect: dropshadow(gaussian, lightpink, 10, 0.07, 2, 2);
}
//s05
#lunchIdeasBackground{
   -fx-background-color: linear-gradient(from 60% 25% to 100% 100%, black, darkseagreen);
}